<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-two-thirds">
        <h2 class="title is-2">Sign in</h2>
        <%= render partial: '/sessions/form' %>
        <br/>
        <%= link_to t(".sign_up"), sign_up_path %>
        <%= link_to t(".forgot_password"), new_password_path %>
			</div>
		</div>
	</div>
</section>
