$button-primary: rgba(29, 161, 242, 1);
$button-hover: rgba(116, 192, 240, 0.1);
$text-white: #fff;
$text-black: #000;


$background-soft: rgba(116, 192, 240, 0.1);
$link-primary: 	hsl(217, 71%, 45%);
